<a href="https://colab.research.google.com/github/juampi2388/Entrega-trabajo-Juan-Pablo-Fratuzzo/blob/main/Datasets%2BFratuzzo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Rubros**

Muestra los indicadores por zona como la apertura, el cierre y el riesgo de abrir un local en la Ciudad Aut√≥noma de Buenos Aires.
Variables importantes: rubro, zonas, riesgo,indice_estabilidad, indice de apertura, indice de cierres.

In [ ]:
import pandas as pd

df= pd.read_csv ('/content/rubrosCABA.csv',delimiter=',')

df

     MOC_RUBROS_ID;MOC_ZONAS_ID;RUBRO;NIVEL_RIESGO;FACTURACION_PROM_ACTUAL;INDICE_CRECIMIENTO;INDICE_ESTABILIDAD;INDICE_APERTURA;INDICE_CIERRE;INDICE_SUPERVIVENCIA;IND_AP_ACT_VS_IND_AP_ANIO_ANT;IND_CL_ACT_VS_IND_CL_ANIO_ANT;SUP_MENOS_1;SUP_ENTRE_1_Y_2;SUP_ENTRE_2_Y_3;SUP_ENTRE_3_Y_4;SUP_ENTRE_4_Y_5;SUP_MAS_5;FACTURACION_PROM_ANIO_ANT;NIVEL_LOCALES;INDICE_CIERRE_ANIO_ANT;INDICE_APERTURA_ANIO_ANT
0     1;1;INSUMOS PARA EL HOGAR;5;1;3;1;0.00;16.67;0...
1     2;2;INSUMOS PARA EL HOGAR;NULL;NULL;NULL;NULL;...
2     3;3;INSUMOS PARA EL HOGAR;1;4;4;2;0.00;0.00;10...
3     4;4;INSUMOS PARA EL HOGAR;1;2;4;4;0.00;0.00;10...
4     5;5;INSUMOS PARA EL HOGAR;NULL;NULL;NULL;NULL;...
...                                                 ...
2893  2894;157;VETERINARIA;1;2;4;4;0.00;0.00;NULL;-1...
2894  2895;158;VETERINARIA;1;2;4;2;0.00;0.00;100.00;...
2895  2896;159;VETERINARIA;3;4;4;4;0.00;0.00;50.00;-...
2896  2897;160;VETERINARIA;3;1;4;3;9.09;0.00;50.00;-...
2897  2898;161;VETERINARIA;5;NULL;NULL;1;0.00;100.00...

[2898 rows x 1 columns]

In [ ]:
from google.colab import drive
import os
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/'


#MOC_RUBROS_ID

In [ ]:
import seaborn as sns
rubrosCABA = sns.load_dataset(name = "rubrosCABA")

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-47-047f941f91e9>", line 2, in <module>
    rubrosCABA = sns.load_dataset(name = "rubrosCABA")
  File "/usr/local/lib/python3.8/dist-packages/seaborn/utils.py", line 595, in load_dataset
    raise ValueError(f"'{name}' is not one of the example datasets.")
ValueError: 'rubrosCABA' is not one of the example datasets.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py", line 2040, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'ValueError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.8/dist-packages/IPython/core/ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.8/dist-packages/IPython/core/ultratb.py", line 353, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

ValueError: ignored

In [ ]:
import matplotlib.pyplot as plt
rubrosCABA = sns.load_dataset("rubrosCABA")
f, axs = plt.subplots(1, 2, figsize= None, gridspec_kw=dict(width_ratios=[2, 2])) #porcentaje de anchura
sns.scatterplot(data= rubrosCABA, x="NIVEL_RIESGO", y="FACTURACION_PROM_ACTUAL", hue="MOC_RUBROS_ID", ax=axs[0])
sns.histplot(data= rubrosCABA, x="MOC_RUBROS_ID", hue="MOC_RUBROS_ID", shrink=0.8, alpha=.8, legend=False, ax=axs[1]) 
f.tight_layout() # reajusta los margenes de los graficos para que sean m√°s limpios

**Predicting Credit Card Customer Segmentation**
En esta base de datos podemos encontrar el comportamiento del consumidor ante las compras con tarjetas de cr√©dito
Variables importantes: Customer_Age","Gender","Dependent_count","Education_Level","Marital_Status","Income_Category","Card_Category

In [ ]:
ef= pd.read_csv ('/content/Predicting Credit Card Customer Segmentation.csv',delimiter=',')


ef

      CLIENTNUM,"Attrition_Flag","Customer_Age","Gender","Dependent_count","Education_Level","Marital_Status","Income_Category","Card_Category","Months_on_book","Total_Relationship_Count","Months_Inactive_12_mon","Contacts_Count_12_mon","Credit_Limit","Total_Revolving_Bal","Avg_Open_To_Buy","Total_Amt_Chng_Q4_Q1","Total_Trans_Amt","Total_Trans_Ct","Total_Ct_Chng_Q4_Q1","Avg_Utilization_Ratio","Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1","Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2"
0      768805383,"Existing Customer",45,"M",3,"High S...
1      818770008,"Existing Customer",49,"F",5,"Gradua...
2      713982108,"Existing Customer",51,"M",3,"Gradua...
3      769911858,"Existing Customer",40,"F",4,"High S...
4      709106358,"Existing Customer",40,"M",3,"Uneduc...
...                                                  ...
10122  772366833,"Existing Customer",50,"M",2,"Gradua...
10123  710638233,"Attrited Customer",41,"M",2,"Unknow...
10124  716506083,"Attrited Customer",44,"F",1,"High S...
10125  717406983,"Attrited Customer",30,"M",2,"Gradua...
10126  714337233,"Attrited Customer",43,"F",2,"Gradua...

[10127 rows x 1 columns]

**Marketplace Phone Data**

Este dataset describe las ventas de telefonos celulares mediante marketplace, en los √∫ltimos a√±os.
Variables importantes: date,sku_name,product_id,merchant_code,merchant_badge,product_type,merchant_city,cod,price,stock,daily_gmv,daily_sold,daily_view,rating,total_review,total_sold

# Nueva secci√≥n

In [ ]:


ff= pd.read_csv ('/content/marketplace phone data sales.csv',delimiter=',')

ff

,date,sku_name,product_id,merchant_code,merchant_badge,product_type,merchant_city,cod,price,stock,daily_gmv,daily_sold,daily_view,rating,total_review,total_sold;
0,3/11/2020,HUAWEI NOVA 5T RAM 8GB INTERNAL 128GB,E1,1.0,PM,Huawei nova 5T,Kota Kediri,False,4500000.0,1.0,0.0,0.0,0.0,95.0,37.0,74;
1,3/26/2020,Huawei Nova 5T (8GB/128GB) - Crush Green,F1,2.0,OS,Huawei nova 5T,Kota Administrasi Jakarta Utara,False,4999000.0,5.0,0.0,0.0,0.0,0.0,0.0,2;
2,3/23/2020,HUAWEI NOVA 5T RAM 8/128 GARANSI RESMI HUAWEI ...,F2,3.0,PM,Huawei nova 5T,Kota Administrasi Jakarta Barat,False,4589900.0,16.0,0.0,0.0,0.0,96.0,12.0,19;
3,4/29/2020,HUAWEI NOVA 5T RAM 8/128GB GARANSI RESMI HUAWE...,E2,4.0,OS,Huawei nova 5T,Kota Surabaya,False,4698500.0,5.0,0.0,0.0,0.0,99.0,42.0,63;
4,4/15/2020,nokia 3310 reborn,C1,5.0,RM,Nokia 1,Kab. Bangkalan,True,1000000.0,999999.0,0.0,0.0,3.0,100.0,18.0,82;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26009,4/27/2020,Asus Zenfone Max Pro M1 - ZB602KL - 4GB/64GB -...,B311,813.0,OS,Asus Zenfone Max Pro (M1) ZB601KL/ZB602K,Kota Administrasi Jakarta Timur,False,2300000.0,5.0,0.0,0.0,34.0,96.0,99.0,262;
26010,4/8/2020,Asus Zenfone Max Pro M1 Ram 6/64GB Garansi Res...,E417,828.0,OS,Asus Zenfone Max Pro (M1) ZB601KL/ZB602K,Kota Administrasi Jakarta Pusat,False,2045000.0,9.0,4090000.0,2.0,65.0,98.0,16.0,29;
26011,4/2/2020,Asus Zenfone Max Pro M1 ZB602KL 3/32 GARANSI R...,B676,809.0,OS,Asus Zenfone Max Pro (M1) ZB601KL/ZB602K,Kota Administrasi Jakarta Pusat,False,1550000.0,5.0,0.0,0.0,694.0,98.0,123.0,393;
26012,4/15/2020,Asus Zenfone Max M1 Pro ZB602KL -6GB/64GB - Ga...,B312,813.0,OS,Asus Zenfone Max Pro (M1) ZB601KL/ZB602K,Kota Administrasi Jakarta Timur,False,2085000.0,10.0,4170000.0,2.0,290.0,96.0,48.0,126;
26013,4/11/2020,Asus Zenfone Max M1 Pro ZB602KL -6GB/64GB - Ga...,B312,813.0,OS,Asus Zenfone Max Pro (M1) ZB601KL/ZB602K,Kota Administrasi Jakarta Timur,False,2085000.0,15.0,12510000.0,6.0,267.0,96.0,47.0,121;